{
  "presets": [["react-app", { "flow": false, "typescript": true }]],
  "plugins": [
    "macros",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": ["emotion"]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true }], "@babel/plugin-transform-modules-commonjs"]
    },
    "test": {
      "plugins": ["emotion", "@babel/plugin-transform-modules-commonjs"]
    }
  }
}
